:root {
  --ion-background-color:rgba(0, 0, 0, 0.586);
  
  /** primary **/
  --ion-color-primary: #f57b38;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #f57b38;
  --ion-color-primary-tint: #f57b38;
}
