ion-title {
  --color:rgba(255, 255, 255, 0.723);
  text-align: center;
  font-family: "Lexend", sans-serif;
}

ion-toolbar {
    --background: linear-gradient(320deg, #040303, #626367, #0c0b11);
}

.container {
  max-width: 500px;
  margin: 3.5rem auto;
  margin-top: 1rem;
  padding: 30pt;
  padding-top: 0;
  padding-bottom: 15pt;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  background: rgba(0, 0, 0, 0.897);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.mode-selection {
  text-align: center;
  margin: 0;
  margin-bottom: 30pt;
}

.mode-selection-btn {
  color: white;
  background-color: transparent;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mode-selection-btn:hover {
  background: blue;
}

.display {
  color: #232323;
  margin: 1rem auto;
  margin-top: 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  overflow: auto;
}

.main-display {
  font-size: xx-large;
  text-align: right;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
  padding: 1pt;
}

.button {
  border-radius: 16px;
  color: white;
  background: #373538;
  font-size: 35px;
  height: 5rem;
  flex-basis: 22%;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 30px rgba(35, 35,35, 0.1);
}

.delete-btn {
  background: #858386;
}

.operator-btn {
  background: #f57b38;
}

.button:hover {
  background: rgba(98, 97, 97, 0.75);;
}

.button:active {
  background: transparent;
}

.operator-btn:hover {
  background: #f76111;
}

.operator-btn:active {
  background: transparent;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background: #cccccc5f;
  color: #666666d6;
}

.double {
  flex-basis: 47%;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}